@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #f1356d;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #f1356d;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}


/* blog previews / list */

.blogs h1 {
    text-align: center;
    color: #f1356d;
}

.blog-preview {
    position: relative;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}


/* blog details page */

.blog-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}


/* create/edit new blog form */

.create-blog,
.edit-blog {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create-blog label,
.edit-blog label {
    text-align: left;
    display: block;
}

.create-blog h2,
.edit-blog h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create-blog input,
.create-blog textarea,
.create-blog select,
.edit-blog input,
.edit-blog textarea,
.edit-blog select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create-blog button,
.edit-blog button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.blogs>.blog-preview>a.edit-blog {
    background-color: #ffffff;
    color: #e42a51;
    border: 1px solid #e42a51;
    padding: 4px 13px;
    border-radius: 4px;
    position: absolute;
    left: 509px;
    text-decoration: none;
    top: 20px;
}

.blogs>.blog-preview>a.edit-blog:hover {
    background-color: #e42a51;
    color: white;
}